<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.outpass">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="outpass"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".testactivity"></activity>
        <activity android:name=".applyop" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".viewstatus" />
        <activity android:name=".passleft" />
        <activity android:name=".prevop" />
        <activity android:name=".loginactivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>